[UC] Fine-Grained Control Over Resource Access

**As a Resource Owner/Controller,**
**I want to limit access to (or usage of) my resources based on (identity) information about the Resource User, such as a specific identifier, their presence in some group/registry, or any other kind of claim that can be made about them,**
**So that I have fine-grained control over who is accessing/using my resources.**

## Preconditions:

- The Resource Owner/Controller can manage policies over some resources on an LWS-compatible resource server.
- Relying Parties can make claims regarding their identity, using some credential format.
- The Authorization Service is aware of certain credential formats and how to extract the information included in them.

## Trigger:

- A Resource User requests access to the RO/RC's resource(s);
- the RO/RC themselves want to grant access to the RU; or
- the RO/RC wants to set up a general policy (template).

## Actors:

- [Primary] The Resource Owner/Controller (~ Data Holder/Supplier): an agent who has partial/delegated (controller) or ultimate (owner) control over policies concerning certain resources. For this use case, the RO/RC is a person with no significant technical skills, managing their policies through a graphical interface.
- [Secondary] The Resource User (~ Data User/Customer): an agent who wants to access resources that are under the control of the RO/RC, typically through a certain Client Application (~ Data Consumer).

- [Technical] The Resource Server (~ Data Provider): the LWS-compatible system that technically provides the resources.
- [Technical] The Authorization Service: the access management system used by the RO/RC to protect their resources on the RS.

## Distinction:

To be useful in various data exchange scenarios, access to LWS-stored resources must be definable in function of a wide range of (types of) identity claims (e.g., identifiers, group memberships, other characteristics …).

**Technical challenges:**

- The credential formats supported for delivering this information must balance the RO/RC's security with the privacy of the Resource User.
- Claim types, and possibly also credential formats, should have a predefined translation to human-understandable text, to be presented in user interfaces.

## Scenario:

1. The Resource Owner/Controller accesses their Authorization Service, either by their own initiative or in response to some notification. 
1. They create/change an access control policy, and specify which identity claims are required. 
1. When a Resource User attempts to access a resource under the scope of that policy, the Authorization Service requests the required claims to be presented in a supported credential format, and grants/denies access based on whether the identity information meets the specified requirements.

## Alternative case(s):

- The RO/RC specifies multiple claims, e.g. alternative types of identifiers, of which the RU only has to provide one to satisfy the access control policies.

## Error scenario:

- The Resource User provides claims in an unsupported credential format.
- The Resource User provides claims that are not required.

## Acceptance Criteria:

- The Resource Owner/Controller can define policies based on identity information of the RU.
- The Authorization Service correctly enforces the policies across all resources, interfaces/protocols, and (aggregated/derived) views.
- Relying Parties can provide the necessary claims to the Authorization Service during or following an access request.
- Relying Parties can find out which claims they need to provide to gain access to a certain target.

## References:

Hardt, Dick (ed.). 2012. The OAuth 2.0 Authorization Framework. IETF Proposed Standard RFC 6749. https://datatracker.ietf.org/doc/html/rfc6749 
Hardt, Dick, Aaron Parecki, and Torsten Lodderstedt. 2024. The OAuth 2.1 Authorization Framework, version 12. IETF OAuth WG Active Internet-Draft. https://datatracker.ietf.org/doc/html/draft-ietf-oauth-v2-1-12 
Lodderstedt, Torsten, Justin Richer, and Brian Campbell. 2023. OAuth 2.0 Rich Authorization Requests. IETF Proposed Standard RFC 9396. https://datatracker.ietf.org/doc/html/rfc9396 
Machulak, Maciej, Justin Richter, and Eva Maler (ed.). 2018. User-Managed Access (UMA) 2.0 Grant for OAuth 2.0 Authorization. Kantara Initiative Recommendation. https://docs.kantarainitiative.org/uma/wg/rec-oauth-uma-grant-2.0.html 
Richter, Justin, and Fabien Imbault (ed.). 2024. Grant Negotiation and Authorization Protocol (GNAP). IETF Proposed Standard RFC9635. https://datatracker.ietf.org/doc/html/rfc9635 
